[Unit]
Description=Jackadi Agent
Documentation=https://jackadi.io/
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/jackadi
ExecStart=/usr/bin/jackadi-agent --config /etc/sonic/jackadi/agent.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
